<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://www.mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"></property>
				<property name="url" value="jdbc:mysql://localhost:3306/mabic?useUnicode=true&amp;characterEncoding=UTF-8"></property>
				<property name="username" value="root"></property>
				<property name="password" value="wanaihua"></property>
			</dataSource>
		</environment>
	</environments>
	<mappers>
	    <mapper class="Mapper.CompanyMapper" />
		<mapper class="Mapper.SystemMapper" />
		<mapper class="Mapper.UserMapper" />
		<mapper class="Mapper.AdminMapper" />
		<mapper class="Mapper.TellerMapper" />
		<mapper class="Mapper.BusinessMapper" /> 
	</mappers>
</configuration>